@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  border-radius: 10px;
  color: #fff;
  padding: 4%;
  width: fit-content;
}

.product-container {
  display: flex;
  background-color: #171717;
  border-radius: 10px;
  margin-right: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.product-info {
  text-align: center;
}

#image-0 {
  width: 100px;
  height: 100px;
}

#image-1 {
  width: 40px;
  height: 100px;
}

#image-2 {
  width: 120px;
  height: 100px;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.select-buttons {
  text-align: center;
}
